<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MCAII">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyCustomDialog"
            android:exported="false" />
        <activity
            android:name=".MyTimePicker"
            android:exported="false" />
        <activity
            android:name=".MyDatePicker"
            android:exported="false" />
        <activity
            android:name=".MyAlertDialog"
            android:exported="false" />
        <activity
            android:name=".MyAutoCompleteText"
            android:exported="false" />
        <activity
            android:name=".MyProgressBar"
            android:exported="false" />
        <activity
            android:name=".MyScrollView"
            android:exported="false" />
        <activity
            android:name=".MyToast"
            android:exported="false" />
        <activity
            android:name=".MyEditText"
            android:exported="false" />
        <activity
            android:name=".MyToggleButton"
            android:exported="false" />
        <activity
            android:name=".MyRadioButton"
            android:exported="false" />
        <activity
            android:name=".MyCheckBox"
            android:exported="false" />
        <activity
            android:name=".MySimpleButton"
            android:exported="false" />
        <activity
            android:name=".MyImageButton"
            android:exported="false" />
        <activity
            android:name=".MySpinner"
            android:exported="false" />
        <activity
            android:name=".MySimpleListView"
            android:exported="false" />
    </application>

</manifest>